// bootstrap variables overrides and adding our own colors etc.
//$info: #7fff00; //overriding bootstrap's variable
$tertiary: #440099; //adding our own
$theme-colors: ('tertiary': $tertiary);


// import bootstrap here
@import '~bootstrap/scss/bootstrap';

.theme1{
  $info: #7fff00; //overriding bootstrap's variable
  $tertiary: #440099; //adding our own
  $theme-colors: ('tertiary': $tertiary);

  //this creates a lot of css - the better way would be to import the ones that change
  //@import '~bootstrap/scss/bootstrap';

  @import '~bootstrap/scss/variables';
  @import '~bootstrap/scss/navbar';
  @import '~bootstrap/scss/nav';
  @import '~bootstrap/scss/utilities'; //includes bg color
}

.theme2{
  $info: #119933;
  $tertiary: #440099;
  $theme-colors: ('tertiary': $tertiary);
  // import the things that use those variables over again
  @import "~bootstrap/scss/bootstrap";
}



// override styles down here