// bootstrap variables overrides and adding our own colors etc.
//$info: #7fff00; //overriding bootstrap's variable
$primary: #AA96DA;
$secondary:  #C5FAD5; //adding our own
$tertiary: #FFFFD2;
$success: #7fff00;
$info: #E2D1F9;
$warning: #ffff00;
$danger: #ffcc99;
$theme-colors: ('tertiary': $tertiary);

// import bootstrap here
@import '~bootstrap/scss/bootstrap';



.theme1{
  $primary: #AA96DA;
  $secondary: #C5FAD5;
  $info: #7fff00; //overriding bootstrap's variable
  $tertiary: #440099; //adding our own
  $theme-colors: ('tertiary': $tertiary);

  //this creates a lot of css - the better way would be to import the ones that change
  //@import '~bootstrap/scss/bootstrap';

  @import '~bootstrap/scss/variables';
  @import '~bootstrap/scss/navbar';
  @import '~bootstrap/scss/nav';
  @import '~bootstrap/scss/utilities'; //includes bg color
}

.theme2{
  $info: #119933;
  $tertiary: #440099;
  $theme-colors: ('tertiary': $tertiary);
  // import the things that use those variables over again
  @import "~bootstrap/scss/bootstrap";
}



// override styles down here
#app {
  font-family: 'Quicksand', sans-serif;
}